
#block-views-side-bar-profile-block {
  text-align: center;
  background-color: rgba($c-blue, .60);
  margin-bottom: 3rem;
  padding: 1em 1em 3em;

  img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
}